.img1 img, .img2 img {
  height: 300px;
  width: 250px;
  border-radius: 1rem;
}

.footer-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px; 
}

.img1, .img2{
  
  display: inline;
}

.img1 img{
  grid-column-start: 1;
}

.img2 img{
  grid-column-start: 3;
}