.img1 img,
.img2 img {
  height: 200px;
  width: 150px;
  border-radius: 1rem;
}

.footer-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  margin-top: 3rem;
  padding-top: 1rem;
  text-align: center;
  align-items: center;
  vertical-align: middle; 
}

.phase1 {
  display: none;
}