.horizontal-card {
  border: solid 1px black;
  border-radius: 2rem;
  height: 250px;
  width: 700px;
  background-color: rgb(247, 247, 242);
}
.card-container2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.3rem;
  
}
.card-image2 img{
  height: 250px;
  width: 250px;
  border-radius: 2rem 0 0 2rem;
  border-right: 1px solid black;
}


@media screen and (max-width: 750px) {
  .card-image2 img {
    width: 35%;
  }
}